*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#000;
color:#fff;
text-align:center;
overflow-x:hidden;
}

.cover{
height:100vh;
background:
linear-gradient(
135deg,
#ff4fa2,
#6a0f49,
#000
);
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.overlay{
max-width:500px;
}

.overlay h3{
font-size:2rem;
margin-bottom:20px;
}

.overlay h1{
font-family:'Great Vibes',cursive;
font-size:5rem;
font-weight:normal;
margin-bottom:20px;
}

.overlay p{
font-size:1.3rem;
margin-bottom:30px;
}

button,
.btn{
background:#ff4fa2;
color:white;
border:none;
padding:15px 35px;
border-radius:40px;
font-size:16px;
cursor:pointer;
text-decoration:none;
display:inline-block;
transition:.3s;
}

button:hover,
.btn:hover{
transform:scale(1.05);
background:#ff6ab5;
}

.section{
padding:80px 20px;
max-width:900px;
margin:auto;
}

h2{
color:#ff6ab5;
margin-bottom:25px;
font-size:2rem;
}

.quote{
font-size:1.2rem;
line-height:1.8;
max-width:800px;
margin:auto;
}

.couple{
margin:40px 0;
}

.couple h3{
font-size:2rem;
color:#fff;
}

.heart{
font-size:50px;
color:#ff4fa2;
margin:30px 0;
}

#countdown{
font-size:2rem;
font-weight:bold;
margin-top:20px;
color:#ff6ab5;
}

iframe{
border-radius:20px;
margin-top:20px;
}

#content{
display:none;
}

footer{
padding:50px 20px;
background:#111;
}

.music-btn{
margin-top:20px;
}
